.a901 {
    margin-top:20px;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    background-color:orange;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.a902{
    width: 80%;
    height: 100px;
}

.a904{
    width: 100%;
    height: 1px;
    border-top-style: dashed;
    border-color: aquamarine;
    margin-top: 30px;
}
body{
    /* background-color: #333333; */
    padding: 0px;
}
 

.bgimg31{
    background-attachment: fixed;
    filter: blur(5px);
   /* 背景图片 */
     /* background: url('//vee.cyclic.app/randimg') center;  */
     position: fixed;;
     left: 0px;
     right: 0px;
     width: 100%;
     height: 100%;
     z-index: -10000;
     opacity: 0.5;
}

.del{
    text-decoration:line-through;
}

.note{
    font-size: 16px;
    color: orchid;
}
